{% extends "accordion/layout.html" %}

{% block body %}
    <h2 style="padding: 2%; color: darkcyan;">Custom Keyboard Layout</h2>
    <h5 style="padding-left: 2%; color: darkcyan;">Click on the "accordion" text on the top left corner and customize your own keyboard layout!</h5>
    <h2 style="padding: 2%; color: darkcyan;">Sharing your insights</h2>
    <h5 style="padding-left: 2%; color: darkcyan;">Click on the Forum on top to share your score</h5>
    <h2 style="padding: 2%; color: darkcyan;">Hidden Function</h2>
    <h5 style="padding-left: 2%; color: darkcyan;">Download the project and upload your own audio in /accordion/static/accordion/audio following the naming convention!</h5>
    <h2 style="padding: 2%; color: darkcyan;">Sharing</h2>
    <h5 style="padding-left: 2%; color: darkcyan;">Share score in the forum in the form of an array of characters!</h5>
    <h2 style="padding: 2%; color: darkcyan;">Enjoy</h2>
    <h5 style="padding-left: 2%; color: darkcyan;">Enjoy your life!</h5>
    
    
{% endblock %}